.DS_Store
myhackpyrag/.idea/misc.xml
myhackpyrag/.idea/modules.xml
myhackpyrag/.idea/vcs.xml
myhackpyrag/.idea/inspectionProfiles/profiles_settings.xml
myhackpyrag/__pycache__/evaluator.cpython-312.pyc
myhackpyrag/.idea/inspectionProfiles/Project_Default.xml
myhackpyrag/__pycache__/static_data.cpython-312.pyc
myhackpyrag/.idea/myhackpyrag.iml
